name: Deploy Strapi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region us-east-1 \
          | docker login --username AWS --password-stdin 811738710312.dkr.ecr.us-east-1.amazonaws.com

      - name: Build and Push
        run: |
          docker build -t strapi-repo .
          docker tag strapi-repo:latest 811738710312.dkr.ecr.us-east-1.amazonaws.com/strapi-repo:latest
          docker push 811738710312.dkr.ecr.us-east-1.amazonaws.com/strapi-repo:latest

      - name: Force ECS Deployment
        run: |
          aws ecs update-service \
            --cluster strapi-cluster \
            --service strapi-service \
            --force-new-deployment
